.megaMenu-megaMenu {
    align-items: center;
    align-self: center;
    display: none;
    grid-column: 3/4;
    grid-row: 1/1;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .megaMenu-megaMenu {
        display: flex;
    }
}

.megaMenuItem-megaMenuItem {
    padding: 0 10px;
}

.megaMenuItem-megaMenuLink {
    align-items: center;
    display: inline-flex;
    min-height: 5rem;
}

.megaMenuItem-megaMenuItem:hover .megaMenuItem-megaMenuLink,
.megaMenuItem-megaMenuItem:focus .megaMenuItem-megaMenuLink {
    text-decoration: underline;
    color: currentColor;
}

.subMenu-subMenu {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px rgb(244, 245, 245);
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    position: absolute;
    padding: 20px 10px;
    right: 0;
    top: 100%;
}

.megaMenuItem-megaMenuItem:hover > div,
.megaMenuItem-megaMenuItem:focus > div {
    display: flex;
}

.subMenu-subMenu::before {
    box-shadow: inset 0 2px rgb(244, 245, 245);
    content: "";
    height: 10px;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.subMenu-subMenuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.subMenuColumn-subMenuColumn {
    max-width: 235px;
    padding: 20px;
}

.subMenuColumn-link {
    white-space: nowrap;
}

.subMenuColumn-link:hover,
.subMenuColumn-link:focus,
.subMenuColumn-linkActive {
    text-decoration: underline;
    color: currentColor;
}

.subMenuColumn-heading {
    font-weight: 600;
}
