.header-primaryActions {
    grid-area: primary;
    justify-self: start;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.navTrigger-root {
    height: 3rem;
    width: 3rem;
}

@media (min-width: 1024px) {
    .navTrigger-root {
        display: none;
    }
}

.icon-root {
    --stroke: rgb(23, 32, 38);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    touch-action: manipulation;
}

.icon-icon-3jC {
    fill: none;
    stroke: var(--stroke);
}
