* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
}

.main-root {
    background-color: rgb(255, 255, 255);
    color: rgb(23, 32, 38);
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    padding: 0;
    touch-action: manipulation;
    user-select: none;
    -webkit-appearance: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.clickable-root {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    pointer-events: auto;
    text-align: center;
}
