.currencySwitcher-root {
    align-items: center;
    display: grid;
    justify-items: end;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0.5rem 1rem;
    position: relative;
}

.currencySwitcher-root:last-child:not(:only-child) {
    padding-left: 0;
    grid-auto-flow: column;
}

.currencySwitcher-root:last-child:not(:only-child):before {
    border-left: 1px solid rgb(118, 123, 127);
    border-left: 1px solid rgb(223, 225, 226);
    content: "";
    height: 1em;
    width: 1rem;
}

.currencySwitcher-trigger {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

.currencySwitcher-symbol {
    margin-right: 0.5rem;
}
